In [1]:
#Import Pandas
import pandas as pd

In [2]:
mobile_df = pd.read_csv('Amazon Big Billion Sale 2025 -Oct Mobile Phones.csv')

In [3]:
mobile_df

,Product_Name,Price,Rating,Review_Count,ASIN,Product_URL
0,"Samsung Galaxy M05 (Mint Green, 4GB RAM, 64 GB...",6249.0,4.0,7230,B0DFY3XCB6,https://www.amazon.in/Samsung-Storage-Display-...
1,"Samsung Galaxy M06 5G (Sage Green, 6GB RAM, 12...",8999.0,3.9,3321,B0DX655V11,https://www.amazon.in/Samsung-MediaTek-Dimensi...
2,realme C73 5G Smartphone 6.67 Inch Screen 120H...,10544.0,NaN,0,B0FLV2S332,https://www.amazon.in/realme-Smartphone-6000mA...
3,"Redmi 13 5G Prime Edition, Orchid Pink, 8GB+12...",10999.0,4.1,2379,B0D78X5CMJ,https://www.amazon.in/Redmi-Orchid-Largest-Dis...
4,"Redmi A4 5G (Starry Black, 6GB RAM, 128GB Stor...",8999.0,3.9,7208,B0FBRM15FH,https://www.amazon.in/Redmi-A4-5G-Storage-Char...
...,...,...,...,...,...,...
3524,SupCares TPU Unbreakable Membrane Screen Prote...,365.0,3.7,375,B0DLBBJ5WP,https://www.amazon.in/SupCares-Unbreakable-Pro...
3525,TheGiftKart Flip Cover Back Case for Motorola ...,299.0,4.1,85,B0D6NJ9HL9,https://www.amazon.in/TheGiftKart-Motorola-Gen...
3526,Gotrippin by Destinio Universal Travel Adapter...,1199.0,4.3,4356,B07WDJR33C,https://www.amazon.in/GoTrippin-Universal-Char...
3527,TheGiftKart Flip Cover Back Case for Motorola ...,299.0,4.1,85,B0D6NJ9HL9,https://www.amazon.in/TheGiftKart-Motorola-Gen...
3528,Gotrippin by Destinio Universal Travel Adapter...,1199.0,4.3,4356,B07WDJR33C,https://www.amazon.in/GoTrippin-Universal-Char...

In [6]:
#View basic information about columns, rows & dataframe
mobile_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3529 entries, 0 to 3528
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product_Name  3529 non-null   object
 1   Price         3510 non-null   float64
 2   Rating        3452 non-null   float64
 3   Review_Count  3529 non-null   int64
 4   ASIN          3529 non-null   object
 5   Product_URL   3529 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 165.6+ KB

In [7]:
#View statistical information
mobile_df.describe()

               Price       Rating   Review_Count
count    3510.000000  3452.000000    3529.000000
mean     4822.943020     4.053331    2444.121564
std     15903.119484     0.403114   12263.929766
min        39.000000     1.000000       0.000000
25%       199.000000     3.900000      46.000000
50%       299.000000     4.100000     233.000000
75%      1199.000000     4.300000    1018.000000
max    179999.000000     5.000000  426987.000000

In [8]:
#view the list of columns
mobile_df.columns

Index(['Product_Name', 'Price', 'Rating', 'Review_Count', 'ASIN',
       'Product_URL'],
      dtype='object')

In [10]:
#View the number of rows and columns
mobile_df.shape

(3529, 6)

In [11]:
#Retrieving Data using column name
mobile_df['Review_Count']

0       7230
1       3321
2          0
3       2379
4       7208
        ...
3524     375
3525      85
3526    4356
3527      85
3528    4356
Name: Review_Count, Length: 3529, dtype: int64

In [12]:
#Retrieve a specific value using indexing
mobile_df['Review_Count'][4]

7208

In [13]:
#Retrieving value from Multiple columns
df = mobile_df[['Review_Count','Price']]
df

      Review_Count    Price
0             7230   6249.0
1             3321   8999.0
2                0  10544.0
3             2379  10999.0
4             7208   8999.0
...            ...      ...
3524           375    365.0
3525            85    299.0
3526          4356   1199.0
3527            85    299.0
3528          4356   1199.0

[3529 rows x 2 columns]

In [14]:
#Retieving values using rows
mobile_df.loc[3524]

Product_Name    SupCares TPU Unbreakable Membrane Screen Prote...
Price                                                       365.0
Rating                                                        3.7
Review_Count                                                  375
ASIN                                                   B0DLBBJ5WP
Product_URL     https://www.amazon.in/SupCares-Unbreakable-Pro...
Name: 3524, dtype: object

In [17]:
#Retrieving multiple rows
#From First
mobile_df.head(5)

#From End
mobile_df.tail(5)

#Random
mobile_df.sample(5)

,Product_Name,Price,Rating,Review_Count,ASIN,Product_URL
2,realme C73 5G Smartphone 6.67 Inch Screen 120H...,10544.0,NaN,0,B0FLV2S332,https://www.amazon.in/realme-Smartphone-6000mA...
3205,[Original] 45W Super Fast Charger Adapter Comp...,599.0,3.7,10749,B0DJJZ8XL7,https://www.amazon.in/Charger-Adapter-Compatib...
1997,SHINESTAR Redmi 12C / Poco C55 Flip Back Cover...,174.0,3.9,322,B0BYBL196S,https://www.amazon.in/SHINESTAR-Cover-Leather-...
1895,FINGERS Mini MOT (My-Own-TV) Portable Speaker-...,850.0,4.2,26,B0CP59634B,https://www.amazon.in/FINGERS-My-Own-TV-Speake...
2271,amazon basics Back Case Cover for Samsung Gala...,49.0,2.5,2,B0CZT3RYX1,https://www.amazon.in/amazon-basics-Samsung-Ki...